body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dela Gothic One;
    color: #474747;
    font-size: 16px;
}

b  {
    background: #8684c8;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
}

.content {
    z-index: 10;
    width: 1100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.numbers {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 400;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.numbers:first-child {
    align-items: flex-end;
}

.numbers * {
    width: 300px;
}
.timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
}
.couple_lesson, .end_couple {
    text-align: right;
}

.time {
    font-size: 120px;
    display: flex;
}

.time-card {
    width: 220px;
    height: 200px;
    background: rgba(173, 171, 255, 0.23);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

